<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>StudyJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>INIT_PARA</param-name>
  	<param-value>web.xml에 저장한 초기화 매개변수</param-value>
  </context-param>
  
  <context-param>
   <param-name>MariaDriver</param-name>
   <param-value></param-value>
  </context-param> 
  
   <context-param>
   <param-name>MariaURL</param-name>
   <param-value></param-value>
  </context-param> 
  
    <context-param>
   <param-name>MariaId</param-name>
   <param-value>green</param-value>
  </context-param> 
  
   <context-param>
   <param-name>MariaPwd</param-name>
   <param-value>1234</param-value>
  </context-param> 
  
  <session-config>
  	<session-timeout>20</session-timeout>
  </session-config>
  
  <servlet>
  	<servlet-name>HelloServlet</servlet-name>
  	<servlet-class>servlet.HelloServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>HelloServlet</servlet-name>
  	<url-pattern>/08_Servlet/HelloServlet.do</url-pattern>
  </servlet-mapping>
</web-app>